
// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
//@import 'vuetify/dist/vuetify.min.css';

.logo {
    display: flex;
    flex-direction: column;
}
.logo > .brand {
    color: #00bfa6;
    font-size: 2.15rem;
    font-weight: 700;
    letter-spacing: 0.3em;
    line-height: 0.9;
    text-transform: uppercase;
}
.logo > .subbrand {
    color: #f1fffc;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.05em;
    line-height: 0.9;
    text-transform: uppercase;
}
.hero__bg { position:absolute; inset:0; width:100%; height:100%; object-fit:cover; opacity:.26; filter: grayscale(20%); }
.mhero {
    /*height: calc(100vh - 60px);*/
    aspect-ratio: 16 / 9;
    padding-top: 96px;
    padding-bottom: 96px;
    color: white;
    background: #1b2a41;
}
@media (min-width: 600px) {
    .mhero {
        aspect-ratio: 16 / 6;
    }
}
.stack {
    //position: relative;
    min-height: 320px;
}
.polaroid {
    translate: none;
    rotate: none;
    scale: none;
    transform: translate(0px, 40px) rotate(10deg);
}
.polaroid {
    position: absolute;
    width: 60%;
    border-radius: 16px;
    box-shadow: 0 14px 40px rgba(0,0,0,.35);
    transform: rotate(-3deg);
    object-fit: cover;
    max-width: 320px;
    //height: 320px;
}
.polaroid--2 {
    right: 0;
    top: 80px;
    transform: rotate(6deg);
}
.ticker { position:sticky; top:0; z-index:999; background: black; color: white; overflow:hidden; white-space:nowrap; }
.ticker__track { display:inline-block; padding: 8px 16px; animation: ticker 24s linear infinite; }
@keyframes ticker { from { transform: translateX(0); } to { transform: translateX(-100%); } }
